@import "colors";
.main_content{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: $font-color2;
  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 95%;

    h1, p{
      margin-bottom: .5em;
      margin-top: 0;
    }
    h1{
      color: $font-color1;
      font-size: 5em;
      @media (max-width: 2000px) {
        font-size: 4em;
      }
      @media (max-width: 1600px) {
        font-size: 3em;
      }
      @media (max-width: 1024px) {
        font-size: 2.5em;
      }
      @media (max-width: 768px) {
        font-size: 2em;
      }
    }
    p{
      width: 60%;
      @media (min-width: 2000px) {
        font-size: 2em;
        width: 80%;
      }
      @media (max-width: 1999.99px) {
        font-size: 1.5em;
        width: 80%;
      }
      @media (max-width: 1400px) {
        font-size: 1.2em;
      }
      @media (max-width: 768px) {
        font-size: .9em;
      }
    }
  }
}

