@import "src/app/colors";
.slide {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;

  .image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: .5em;

    img {
      width: 100%;
      object-fit: cover;
      max-height: 20vw;
      @media (min-width: 700px) {
        max-height: 18vw;
      }
      @media (min-width: 1000px) {
        max-height: 14vw;
      }
    }
  }

  p {
    font-size: 1em;
    margin-bottom: 0;
    color: $font-color3;
    width: 100%;
    @media (min-width: 2000px) {
      font-size: 1.5em;
    }
    @media (max-width: 1999.99px) {
      font-size: 1.3em;
    }
    @media (max-width: 1400px) {
      font-size: 1.1em;
    }
    @media (max-width: 700px) {
      font-size: 1em;
    }
  }

  p:last-child{
    font-size: .6em;
    margin-top: .5em;
    color: fade-out($font-color1, 0.2);
    @media (min-width: 2000px) {
      font-size: 0.9em;
    }
    @media (max-width: 1999.99px) {
      font-size: 0.8em;
    }
    @media (max-width: 1400px) {
      font-size: 0.7em;
    }
    @media (max-width: 700px) {
      font-size: 0.6em;
    }
  }

  &.shape-circle{
    img{
      clip-path: circle();
      border-radius: 50%;
    }
  }
  &.shape-leaf{
    img{
      border-radius: 55% 0;
    }
  }
  &.shape-reverse-leaf{
    img{
      border-radius: 0 55%;
    }
  }
  &.shape-ellipse{
    img {
      border-radius: 50% / 70%;
    }
  }
}
