@import "src/app/colors";
.slide {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;

  .image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: .5em;

    img {
      width: 100%;
      object-fit: cover;
      max-height: 20vw;
      @media (min-width: 700px) {
        max-height: 18vw;
      }
      @media (min-width: 1000px) {
        max-height: 14vw;
      }
    }
  }

  p {
    font-size: clamp(14px, 4vw, 26px);
    margin-bottom: 0;
    color: $font-color3;
    width: 100%;
  }

  p:last-child{
    font-size: clamp(10px, 2vw, 18px);
    margin-top: .5em;
    color: fade-out($font-color1, 0.2);
  }
}

.shape-circle{
  img{
    clip-path: circle();
  }
}
.shape-leaf{
  img{
    border-radius: 55% 0;
  }
}
.shape-reverse-leaf{
  img{
    border-radius: 0 55%;
  }
}
.shape-ellipse{
  img {
    border-radius: 50% / 70%;
  }
}
